@media screen and (max-width: 800px){
    .header-grab{
        font-size: 2.5em !important;
    }
    .header-company-name{
        font-size: 2em !important;
    }
}

@media screen and (max-width: 950px){
    #offset-info{
        flex-direction: column;
    }
    .media-query-flip{
        flex-direction: column-reverse !important;
    }
    .card-info{
        height: 400px !important;
    }
    .card-img{
        background-position: center !important;
    }
    .card-arrow-left{
        width: 50%;
        height: 0;
        border-top: 0 !important;
        border-bottom: 25px solid white;
        border-left: 25px solid transparent;
    
        position: absolute;
        top: calc(100% - 24px) !important;
        bottom: 0 !important;
    
        right: 0;
    }
    .card-arrow-right{
        width: 50%;
        height: 0;
        border-top: 0 !important;
        border-bottom: 25px solid white;
        border-right: 25px solid transparent;
    
        position: absolute;
        top: calc(100% - 24px) !important;
        bottom: 0 !important;
    
        left: 0;
    }
}
